<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=74.86.97.85 ;DATABASE=webmagic_prod;user id=bialas01;password=Superman01az"/>
		<add key="ConnectionStringBUG" value="server=192.168.235.9;DATABASE=SoftwareBugReporting;user id=sa;password=pat012a"/>
		<add key="CurrentLogoDirectory" value="\\\\c1-spongebob2\\websites\\Development\MS_WWW\LOGOS\Company\"/>
		<add key="CurrentIMGVDirectory" value="\\\\c1-spongebob2\\websites\\Development\MS_WWW\UIMG\"/>
		<add key="CurrentIMGDirectory" value="F:\Websites\Development\MS_WWW\UIMG\"/>
		<add key="CurrentAppURL" value="http://app.webmagicportal.com"/>
		<add key="CurrentWebURL" value="http://www.webmagicportal.com"/>
		<add key="ScreenHeight" value="768"/>
		<add key="ScreenWidth" value="1260"/>
		<add key="ScreenLeftNav" value="115"/>
		<add key="ScreenBodyHeight" value="555"/>
		<add key="ScreenBodyWidth" value="1140"/>
		<add key="ScreenBorder" value="0"/>
		<add key="ScreenHeader" value="headersys.ascx"/>
		<add key="ScreenLeftNav" value="navigation2.ascx"/>
		<add key="ScreenLeftNavSetup" value="navigationSetup.ascx"/>
		<add key="ScreenFooter" value="footer.ascx"/>
		<add key="ScreenmiddleNav" value="midnav.ascx"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />
		
		<compilation>
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
				
				
				
				</system.web>
	<location path="myImageBrowseServer.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
		
	</location>
	<system.net>
		<mailSettings>
			<smtp from="bbialas@gochoiceone.com">
				<network host="192.168.235.12" port="25" userName="bbialas" password="Superman01az" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
		<defaultProxy>
			<proxy bypassonlocal="True" usesystemdefault="False"/>
		</defaultProxy>
	</system.net>
</configuration>
