body {
color: #333333;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
background-color: #ECE9D8;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
#TextInput{
width:330px;
height:81px;
position:absolute;
top:20px;
left:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
border-style:inset;
border-width:1px;
}
#TextShow{
padding:2px;
width:330px;
height:81px;
position:absolute;
top:20px;
left:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
z-index:2;
overflow:auto;
background-color:#FFFFFF;
border-style:inset;
border-width:1px;
}
#Suggestions{
width:336px;
height:84px;
position:absolute;
top:127px;
left:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}
#LanguageF{
width:211px;
position:absolute;
top:216px;
left:129px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}
#awayMessage
{
display:none;
color: #999999;
position:absolute;
text-align: center;
top:40%;
left:0%;
width:100%;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}
#highlight{
font-weight:bold;
color:#FF0000;
}
#highlightGrammar{
font-weight:bold;
color:#008000;
}
#TextInputLab{
position:absolute;
top:5px;
left:6px;
z-index:1;
}
#SuggestionsLab{
position:absolute;
top:112px;
left:6px;
z-index:1;
}
#LanguageFLab{
position:absolute;
top:218px;
left:7px;
z-index:1;
}
#CheckGrammarLab{
position:absolute;
top:238px;
left:25px;
z-index:1;

}
#CheckGrammarF{
position:absolute;
top:234px;
left:4px;
z-index:1;

}
#bIG{
position:absolute;
top:20px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bUE{
position:absolute;
top:20px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
z-index:2;
display:none;
}
#bIA{
position:absolute;
top:54px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bAD{
position:absolute;
top:85px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bCH{
position:absolute;
top:127px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bCA{
position:absolute;
top:159px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bAC{
position:absolute;
top:190px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bCL{
position:absolute;
top:256px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bUN{
position:absolute;
top:256px;
left:242px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bOP{
position:absolute;
top:256px;
left:128px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#MainForm{
display:block;
}
#optptionForm{
display:none;
}
#tOpt{
position:absolute;
top:15px;
left:12px;
z-index:1;
}
#tOla{
position:absolute;
top:170px;
left:12px;
z-index:1;
}
#bOOK{
position:absolute;
top:256px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
z-index:2;
}
#bOCL{
position:absolute;
top:256px;
left:242px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
}
#bRD{
position:absolute;
top:118px;
left:95px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
width:180px;
}
#bRA{
position:absolute;
top:140px;
left:95px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;
width:180px;
}
#optCaseSensitiveLab{
position:absolute;
top:15px;
left:95px;
z-index:1;
}
#optAllCapsLab{
position:absolute;
top:35px;
left:95px;
z-index:1;
}
#optWebLab{
position:absolute;
top:55px;
left:95px;
z-index:1;
}
#optNumericLab{
position:absolute;
top:75px;
left:95px;
z-index:1;
}
#optNewLineLab{
position:absolute;
top:95px;
left:95px;
z-index:1;
}
#optLanguages{
width:211px;
height:82px;
position:absolute;
top:170px;
left:95px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}
#tSum{
position:absolute;
top:15px;
left:15px;
}
#sdivider{
width:100%;
position:absolute;
top:35px;
}
#tWrd{
position:absolute;
top:55px;
left:15px;
}
#tDoc{
position:absolute;
top:75px;
left:15px;
}
#tEdi{
position:absolute;
top:95px;
left:15px;
}
#bOK{
position:absolute;
top:256px;
left:352px;
width:100px;;
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:11px;
height:22px;}